<div id="<%= dom_id objective %>">
  <p>
    <strong>Name:</strong>
    <%= objective.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= objective.description %>
  </p>

  <p>
    <strong>Finished message:</strong>
    <%= objective.finished_message %>
  </p>

</div>
