<div>
  <%= link_to "<i class='fas fa-arrow-left back-icon'></i> Back to posts".html_safe, news_posts_path, class: "back-link" %>
</div>

<%= render @news_post %>

<% if current_user.admin? %>
  <div class="actions-container">
    <%= link_to "Edit this post", edit_news_post_path(@news_post), class: "post-link" %>
    <%= button_to "Destroy this post", @news_post, method: :delete, class: "destroy-btn" %>
  </div>
<%end%>
 